<link rel="stylesheet" href="/css/fileDetails.css" />
<%-include('navTree') %>
<div class="file-info">
  <h1>File Details</h1>
  <div class="data-column">
    <div class="file-name">
      <span class="data-field">Name:</span>
      <span class="data-info"><%=file.fileName %></span>
    </div>
    <div class="created-at">
      <span class="data-field">Created:</span>
      <span class="data-info"><%=file.created_at %></span>
    </div>
    <div class="file-size">
      <span class="data-field">Size:</span>
      <span class="data-info"><%=file.size %></span>
    </div>
    <div class="file-type">
      <span class="data-field">Type:</span>
      <span class="data-info"><%=file.mimetype %></span>
    </div>
  </div>
  <a href="<%=file.url %>" target="_blank" download="<%=file.fileName %>">
    <button class="download-btn">
      <img
        class="download-icon"
        src="/icons/download-braket.svg"
        alt="download icon"
      />
      <span>Download</span>
    </button>
  </a>
  <a href="/upload/<%=folderId %>" class="link go-back"
    >Go back to the folder</a
  >
</div>
