<%-include('navTree') %>
<div class="file-info">
  <div class="file-name">Name: <%=file.fileName %></div>
  <div class="created-at">Created: <%=file.created_at %></div>
  <div class="file-size">Size: <%=file.size %></div>
  <div class="file-type">Type: <%=file.extension %></div>
</div>
<a href="/upload/<%=folderId %>">Go back to the folder</a>
