<link rel="stylesheet" href="/css/login.css" />
<img src="/icons/file-manager-logo.svg" alt="" class="hero-logo" />
<div class="main-container">
  <% if(locals.type==='sign-in') {%>
  <p class="form-title">Sign in</p>
  <p>Don't have an account yet? <a href="/sign-up">Sign Up</a></p>
  <% if(locals.messages){ %> <% if(messages.length>0){ %>
  <ul>
    <% for(let i=0; i<=messages.length;i++){ %>
    <li><%=messages.pop() %></li>
    <% } %>
  </ul>
  <% } %> <% } %> <% } else{%>
  <p class="form-title">Sign up</p>
  <p>Already have an account? <a href="/sign-in">Sign In</a></p>
  <% } %> <% if(locals.errors){ %>
  <ul class="errors-list">
    <% errors.map((err)=>{ %>
    <div class="error-line">
      <img src="/icons/warning.svg" alt="alert icon" />
      <li><%=err.msg %></li>
    </div>
    <% }) %>
  </ul>
  <% } %>
  <form class="login-form" method="post">
    <div class="username">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        minlength="<%=usernameLength.min %>"
        required
        maxlength="<%=usernameLength.max %>"
      />
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        minlength="<%= passwordLength.min %>"
        maxlength="<%=passwordLength.max %>"
        required
      />
    </div>
    <% if(locals.type==='sign-up'){ %>
    <div class="confirmPassword">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        minlength="<%=passwordLength.min %>"
        maxlength="<%=passwordLength.max %>"
        required
      />
    </div>
    <% } %> <% if(locals.type==='sign-up'){ %>
    <button class="submit" type="submit">Sign Up</button>
    <% }else if(locals.type==='sign-in'){ %>
    <button class="submit" type="submit">Sign In</button>
    <% } %>
  </form>
</div>
