<script src="/js/uploader.js" defer></script>
<dialog id="file-dialog" class="upload-form-dialog">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="file"> Upload a file </label>
    <input type="file" name="userFile" />
    <button type="submit">Upload</button>
    <button type="button" class="close-modal">X</button>
  </form>
</dialog>
<dialog id="folder-dialog" class="upload-form-dialog">
  <% const folderUrl=locals.folderId || null %>
  <form action="folder/<%=folderUrl %>" method="post">
    <label for="folder">New Folder</label>
    <input
      type="text"
      placeholder="Folder Name"
      id="folder"
      name="folderName"
      required
    />
    <button type="submit">New Folder</button>
    <button type="button" class="close-modal">X</button>
  </form>
</dialog>
<% if(locals.tree){ %>
<nav class="folder-tree">
  <% tree.map((folder,index)=>{ %> <% if(index===0){ %>
  <a href="<%=user.id %>"><%=user.username %>'s Drive</a>
  <% }else{ %>
  <div class="nav-arrow"><</div>
  <a href="<%=folder.id %>"><%=folder.folderName %></a>
  <% }}) %>
</nav>
<% } %> <% if(locals.errors){ %>
<ul class="errors">
  <% errors.map((err)=>{ %>
  <li><%=err.msg %></li>
  <% }) %>
</ul>
<% } %> <% if(locals.folders.length){ %>
<ul>
  <% folders.map((folder)=>{ %>
  <li><a href="<%=folder.id %>"><%=folder.folderName %></a></li>
  <% }) %>
</ul>
<% if(locals.files.length){ %>
<ul>
  <% files.map((file)=>{ %>
  <li><%=file.fileName %></li>
  <% }) %>
</ul>
<% } %> <% } %>
<button type="button" class="newFileBtn">New File</button>
<button type="button" class="newFolderBtn">New Folder</button>
