<script src="/js/uploader.js" defer></script>
<link rel="stylesheet" href="/css/uploader.css" />
<% const folderUrl=locals.folderId || null %>
<div class="main-container">
  <dialog id="file-dialog" class="upload-form-dialog">
    <form
      action="/upload/file/<%=folderUrl %>/create"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="file-upload"> Upload a file </label>
      <input id="file-upload" type="file" name="userFile" />
      <button type="submit">Upload</button>
      <button type="button" class="close-modal">X</button>
    </form>
  </dialog>
  <dialog id="folder-dialog" class="upload-form-dialog">
    <form action="folder/<%=folderUrl %>/create" method="post">
      <label for="folder">New Folder</label>
      <input
        type="text"
        placeholder="Folder Name"
        id="folder"
        name="folderName"
        required
      />
      <button type="submit">New Folder</button>
      <button type="button" class="close-modal">X</button>
    </form>
  </dialog>
  <dialog class="folder-rename">
    <form class="rename-form" method="post">
      <label for="rename-input">Rename</label>
      <input type="text" id="rename-input" name="folderName" required />
      <button type="button" class="close-modal">Cancel</button>
      <button type="submit">Ok</button>
    </form>
  </dialog>
  <dialog class="folder-delete">
    <form class="delete-form" method="post">
      <label
        >Deleting this folder will delete all the files and folders inside. Are
        you sure?</label
      >
      <button class="close-modal">Cancel</button>
      <button type="submit">Ok</button>
    </form>
  </dialog>
  <%-include('navTree') %> <% if(locals.errors){ %>
  <ul class="errors">
    <% errors.map((err)=>{ %>
    <li><%=err.msg %></li>
    <% }) %>
  </ul>
  <% } %> <% if(locals.folders.length){ %>
  <ul class="content-list">
    <% folders.map((folder)=>{ %>
    <li data-folder-id="<%=folder.id %>" class="folder-list">
      <a class="item-info folder-info folder-link" href="<%=folder.id %>">
        <div class="folder-name"><%=folder.folderName %></div>
        <button class="folder-dropdown-btn"></button>
      </a>

      <div class="edit-dropdown-container">
        <button class="folder-rename-btn folder-edit-btn" type="button">
          Rename
        </button>
        <button class="folder-delete-btn folder-edit-btn" type="button">
          Move to trash
        </button>
      </div>
    </li>
    <% }) %> <% if(locals.files.length){ %> <% files.map((file)=>{ %>
    <li class="file-list" data-file-id="<%=file.id %>">
      <div class="item-info file-name"><%=file.fileName %></div>
    </li>
    <% }) %> <% } %>
  </ul>
  <% } %>
</div>
<aside>
  <button type="button" class="dialog-btn newFileBtn">New File</button>
  <button type="button" class="dialog-btn newFolderBtn">New Folder</button>
</aside>
